.btn {
  position: relative;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  max-width: max-content;
  border: 1px solid #fff;
  padding: 20px 48px;
  cursor: pointer;
  background-color: transparent;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease;
  border-radius: 6px;

  &:is(:hover, :focus-visible) {
    color: #fff;
    border-color: #ed017f;
    background-color: #ed017f;
  }
}

.btn-primary {
  color: #fff;
  border-color: #fff;

  &:is(:hover, :focus-visible) {
    background-color: #ed017f;
    border-color: #ed017f;
  }
}

.btn-secondary {
  background-color: #ed017f;
  color: #fff;
  border-color: #ed017f;

  &:is(:hover, :focus-visible) {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
  }
}
